* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  --primary-color: #ff3030;
  --text-color: #ddd;
  font-family: "Inter", sans-serif;
}

.nav {
  height: 5rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 0.8rem;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.1rem;
}

.nav-link:hover {
  color: var(--primary-color);
}

.hero {
  color: #fff;
  text-align: center;
  height: calc(100vh - 5rem);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  font-family: "Lobster", sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 3rem;
}

.heroSubtitle {
  font-size: 1rem;
}

.button {
  color: #fff;
  margin-top: 4rem;
  padding: 1rem 2rem;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: transparent;
  color: var(--primary-color);
}

@media only screen and (min-width: 600px) {
  .nav {
    gap: 2rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  .heroTitle {
    font-size: 4rem;
    line-height: 4rem;
  }

  .heroSubtitle {
    font-size: 1.5rem;
  }

  .button {
    padding: 1.2rem 2.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    gap: 4rem;
  }

  .heroTitle {
    font-size: 6rem;
    line-height: 6.5rem;
  }

  .heroSubtitle {
    font-size: 1.5rem;
  }
}
